<div class="container">
  <h2>Contribute a new Comment to:</h2>
  <% @suggestion = Suggestion.find(params[:suggestion_id]) %>
  <h3><%= @suggestion.title %></h3>
  <p>Target: <%= @suggestion.target %></p>
  <p>Suggestion:</p>
  <p><%= @suggestion.body %></p>
  <h4>In order to keep discussion focused on the Suggestion,<br>please refrain from commenting on other comments.</h4>
  <% @errors ||= {} %>
  <% @comment ||= Comment.new %>
  <%= form_for :comment, url: suggestion_comments_path do |f| %>
    <p><%= f.label :body, 'Comment' %>
      <%= f.text_area :body %>
      <span class="error">
        <% unless @errors[:body].nil? %>
          <% @errors[:body].uniq.each do |error| %>
            <%= error %><br>
          <% end %>
        <% end %>
      </span>
    </p>
    <p><%= f.label :critical_comment? %>
      <%= f.check_box :vote %>
      <br>(The community at Suggestion Box welcomes critical feedback. Please only select this checkbox if you have given a critical comment with advice on how to improve this Suggestion.)
    </p>
    <p><%= f.submit 'Submit Your Comment!' %></p>
  <% end %>
</div>
