Create new user
<% @errors ||= {} %>
<%= form_for :user, url: users_path do |f| %>
  <p><%= f.label :email %>
    <%= f.text_field :email, value: @email %> <%= @errors[:email][-1] if @errors[:email] %>
  </p>
  <p><%= f.label :first_name %>
    <%= f.text_field :first_name, autofocus: true %> <%= @errors[:first_name][-1] if @errors[:first_name] %>
  </p>
  <p><%= f.label :last_name %>
    <%= f.text_field :last_name %> <%= @errors[:last_name][-1] if @errors[:last_name] %>
  </p>
  <p><%= f.label :location %>
    <%= f.text_field :location %> <%= @errors[:location][-1] if @errors[:location] %>
  </p>
  <p><%= f.label :password %>
    <%= f.password_field :password %> <%= @errors[:password][-1] if @errors[:password] %>
  </p>
  <p><%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %> <%= @errors[:password_confirmation][-1] if @errors[:password_confirmation] %>
  </p>
  <p><%= f.submit 'Create Your Account' %></p>
<% end %>

<%= link_to 'Go Home', root_path %>